<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapping.userMapper">
	<select id="getUser" parameterType="int" resultMap="testMap">
		select *
		from
		user where id=#{id}
	</select>
	<resultMap type="common.pojo.Student" id="testMap">
		<id property="stuId" column="id" />
		<result property="stuName" column="name" />
		<result property="stuAge" column="age" />
	</resultMap>


	<insert id="addUser" parameterType="common.pojo.User">
		insert into user(name,age)
		values(#{name},#{age})
	</insert>
	<delete id="deleteUser" parameterType="int">
		delete from user where
		id=#{id}
	</delete>
	<update id="updateUser" parameterType="common.pojo.User">
		update user set
		name=#{name},age=#{age} where id=#{id}
	</update>
</mapper>